*.o
*.a
log*
tests/add
tests/ag-add
tests/ag-div
tests/ag-mul
tests/ag-sub
tests/convall
tests/convscaled
tests/div
tests/exp
tests/karatsuba-mul
tests/karatsuba-mul-giant
tests/left-shift
tests/long-mul-giant
tests/mod
tests/mul
tests/mul2
tests/mul3
tests/mul3_fix
tests/newtonian-div
tests/nsqrt
tests/print
tests/sub
tests/test-arbitrary-precision

